{extend name="public/container"}
{block name="title"}推广海报{/block}
{block name='head_top'}
<style>
    body{background-color:#4c4c4c;}
</style>
{/block}
{block name="content"}
<div class="promotion-poster">
    <div class="tip">长按保存海报，分享到朋友圈</div>
    <div class="pictrue">
        <img src="/{$filename}">
    </div>
    <div class="shareBnt">分享链接给朋友</div>
    <div class="notes">
        <div class="title">推荐指引</div>
        {$promoter_guide}
    </div>
    <div class="shares-model" style="display: none">
        <img style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;" src="{__WAP_PATH}zsff/images/share-info.png">
    </div>
</div>
{/block}
{block name="foot"}
<script>
    var url="{$url}";
    $('.shares-model').on('touchmove',function(e){
        e.preventDefault();
    });
    $('.shareBnt').on('click',function () {
        $('.shares-model').show();
    });
    $('.shares-model').on('click',function () {
        $('.shares-model').hide();
    })
    window.overallShare=false;
    mapleWx($jssdk(), function () {
        this.onMenuShareAll({
            title: '{$userInfo.nickname}邀请您成为推广人',
            desc: "{$site_name}",
            imgUrl: '{$image}',
            link: url
        });
    });
</script>
{/block}