{extend name="public/container"}
{block name="title"}推广中心{/block}
{block name="head_top"}
<style>
    body {
        padding-bottom: 1.2rem;
        background-color: #f2f2f2;
    }
</style>
{/block}
{block name="content"}
<div class="promotion">
    <div class="header">
        <div class="cont">
            <div class="text">
                可提现金额(元)
                <div class="money">{$userInfo.brokerage_price}</div>
                <a class="link" href="{:Url('spread_detail',['type'=>2])}">提现记录<span
                        class="knowledge iconxiangyou"></span></a>
            </div>
            <a class="btn" href="{:Url('spread/withdraw')}">提现</a>
        </div>
    </div>
    <div class="sheet">
        <div class="item">
            今日收益
            <div class="num">{$data.number}</div>
        </div>
        <div class="item">
            今日新增订单
            <div class="num">{$data.order_count}</div>
        </div>
        <div class="item">
            今日新增代理
            <div class="num">{$data.spread_count}</div>
        </div>
    </div>
    <div class="control">
        <a class="link" href="{:Url('special')}">
            <span class="name">专题推广</span>
            <span class="knowledge iconxiangyou"></span>
        </a>
        <a class="link" href="{:Url('my_promoter')}">
            <span class="name">我的推广人</span>
            <span class="knowledge iconxiangyou"></span>
        </a>
        <a class="link" href="{:Url('commission')}">
            <span class="name">佣金明细</span>
            <span class="knowledge iconxiangyou"></span>
        </a>
    </div>
    {include file="public/store_menu"}
</div>
{/block}