<link rel="stylesheet" type="text/css" href="{__WAP_PATH}zsff/css/reset.css" />
<link rel="stylesheet" type="text/css" href="{__WAP_PATH}zsff/css/base.css">
<link rel="stylesheet" type="text/css" href="{__WAP_PATH}zsff/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="{__WAP_PATH}zsff/iconfont/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{__WAP_PATH}zsff/knowledge/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{__WAP_PATH}zsff/css/style.css?v=1" />
<link rel="stylesheet" href="/system/frame/css/font-awesome.min.css?v=4.3.0" media="all">
<script type="text/javascript" src="{__PLUG_PATH}jquery-1.10.2.min.js"></script>
<script src="{__WAP_PATH}zsff/iconfont/iconfont.js"></script>
<script src="{__WAP_PATH}zsff/knowledge/iconfont.js"></script>
<script src="{__WAP_PATH}zsff/js/media_750.js"></script>
<script src="{__WAP_PATH}zsff/js/swiper.min.js"></script>
<script src="{__WAP_PATH}zsff/js/font.js"></script>